﻿@model IEnumerable<InvoicesMVC_v7.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>           

<p>
    @Html.ActionLink("Create New", "Create") | 
    <a href="~/Purchases1/Create">Create new purchase entry</a>
</p>

@using (Html.BeginForm())
{
<form method="post" action="Index">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)<br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)<br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadlineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)<br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceWithTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="text" name="id" value="" placeholder="Search" /><br />
            </td>
            <td>
                <input type="datetime" name="minDateCr" placeholder="Min" /><br /><br />
                <input type="datetime" name="maxDateCr" placeholder="Max" />
            </td>
            <td>
                <input type="datetime" name="minDateDue" placeholder="Min" /><br /><br />
                <input type="datetime" name="maxDateDue" placeholder="Max" />
            </td>
            <td>
                <input type="text" name="receiverName" placeholder="Search" /><br />
            </td>
            <td>
            </td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="Filter" class="submit" />
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeadlineDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceWithTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.InvoiceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceID })
                </td>
            </tr>
        }
    </table>

</form>
}