﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoices.com</h1>
    <p class="lead">Your #1 resource for all things invoicy</p>
    <p><a href="~/Invoices" class="btn btn-primary btn-lg">Invoices »</a></p>
    <p><a href="~/Purchases1" class="btn btn-primary btn-lg">Purchases »</a></p>
</div>

